.App {
  text-align: center;
  margin-top: -2vb;
}

.col-5 {
  color: white;

}

#sm1 {
  float:left;
  margin-left: 11vw;
  p {
    font-size: 2.5vb; 
  }
}

#sm2 {
  float:right;
  margin-right: 11vw;
  color: rgb(153, 153, 153);
  p {
    font-size: 2.5vb; 
  }
}

#sm1img {
  height: 3.25vh;
  float:left;
}

#sm2img {
  height: 3.25vh;
  float:right;
}
