.App {
  text-align: center;
  margin-top: -2vb;
}

.col-5 {
  color: white;

}

#sm1 {
  float:left;
  margin-left: 15vw;
}

#sm2 {
  float:right;
  margin-right: 15vw;
  color: rgb(153, 153, 153);
}

#sm1img {
  height: 2vh;
  float:left;
}

#sm2img {
  height: 2vh;
  float:right;
}
