.Projects {
    text-align: left;
    margin-left: 3%;
    margin-right: 1%;
    height: 80vh;
    overflow-y:scroll;
    margin-bottom: 50%;
}

a {
    font-size: 2vb;
}

p {
    font-size: 1.5vb;
    margin-right: 7%;
}