.Projects {
    text-align: left;
    margin-left: 1%;
    height: 80vh;
    width: 100%;
    overflow-y:scroll;
    margin-bottom: 50%;
    scale: 97%;
}

a {
    font-size: 2vb;
}

p {
    font-size: 1.5vb;
}

img {
    height: 30vmin;
    pointer-events: none;
    margin-left: 2%;
    margin-right: 2%;
}

#beimg {
    height: 20vmin;
}

